<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.UserMapper">

    <!--전체조회-->
    <select id="getAllUsers" resultType="com.example.demo.dto.User">
        SELECT id, name, age
        FROM user
    </select>

    <!--검색-->
    <select id="searchUsers" parameterType="string" resultType="com.example.demo.dto.User">
        SELECT id, name, age
        FROM user
        WHERE name LIKE CONCAT('%', #{keyword}, '%')
        LIMIT #{size} OFFSET #{offset}
    </select>

     <!--사용자추가-->
    <insert id="insertUser" parameterType="com.example.demo.dto.User">
        INSERT INTO user (name, age)
        VALUES (#{name}, #{age})
    </insert>

    <!--사용자삭제-->
    <delete id="deleteUser" parameterType="long">
        DELETE FROM user WHERE id = #{id}
    </delete>

    <!--사용자수정-->
    <update id="updateUser" parameterType="com.example.demo.dto.User">
        UPDATE user
        SET name = #{name},
            age = #{age}
        WHERE id = #{id}
    </update>

    <!-- 페이징 조회 -->
    <select id="searchUsersPaging" resultType="com.example.demo.dto.User">
        SELECT id, name, age
        FROM user
        WHERE name LIKE CONCAT('%', #{keyword}, '%')
        LIMIT #{size} OFFSET #{offset}
    </select>

    <!-- 전체 개수 -->
    <select id="countUsers" resultType="int">
        SELECT COUNT(*)
        FROM user
        WHERE name LIKE CONCAT('%', #{keyword}, '%')
    </select>

</mapper>